html {
  font-family: 'Montserrat';
}

#hora-colombia {
  width: 250px; /* Aumentar el ancho a 200px */
  height: 5px; /* Aumentar la altura a 100px */
  display: flex; /* Habilitar el diseño flexbox */
  align-items: center; /* Alinear verticalmente el contenido */
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  padding: 12px; /* Agregar espacio interno */
  border: 1px solid #ccc; /* Agregar un borde */
  font-size: 11.5px; /* Establecer el tamaño de la fuente */
  font-family: 'Montserrat'; /* Usar una fuente sans-serif */
  background-color: #f3f3f3;
}

  #hora-colombia:hover {
    background-color: #d6d6d6;
  }
  #hora-colombia {
    /* Estilos para el texto "Hora Col" */
    font-weight: bold; /* Establecer el peso de la fuente en negrita */
  }
  
  #hora-chile {
    width: 250px; /* Aumentar el ancho a 200px */
    height: 5px; /* Aumentar la altura a 100px */
    display: flex; /* Habilitar el diseño flexbox */
    align-items: center; /* Alinear verticalmente el contenido */
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    padding: 12px; /* Agregar espacio interno */
    border: 1px solid #ccc; /* Agregar un borde */
    font-size: 11.5px; /* Establecer el tamaño de la fuente */
    font-family: 'Montserrat';
    background-color: #efefef;
  }
  
  #hora-chile:hover {
    background-color: #d6d6d6;
  }

  #hora-chile {
    /* Estilos para el texto "Hora Col" */
    font-weight: bold; /* Establecer el peso de la fuente en negrita */
  }

  #hora-peru {
    width: 250px; /* Aumentar el ancho a 200px */
  height: 5px; /* Aumentar la altura a 100px */
  display: flex; /* Habilitar el diseño flexbox */
  align-items: center; /* Alinear verticalmente el contenido */
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  padding: 12px; /* Agregar espacio interno */
  border: 1px solid #ccc; /* Agregar un borde */
  font-size: 11.5px; /* Establecer el tamaño de la fuente */
  font-family: 'Montserrat';
  background-color: #efefef
  }

  #hora-peru:hover {
    background-color: #d6d6d6;
  }
  
  #hora-peru {
    /* Estilos para el texto "Hora Col" */
    font-weight: bold; /* Establecer el peso de la fuente en negrita */
  }
  
 
  .hCol {
    background-image: url('colombia.png'); /* Asegúrate de que la ruta a la imagen sea correcta */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: 97% 50%
  }

  .hCh {
    background-image: url('chile.png'); /* Asegúrate de que la ruta a la imagen sea correcta */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: 97% 50%
  }

  .hPe {
    background-image: url('peru.png'); /* Asegúrate de que la ruta a la imagen sea correcta */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
    background-position: 97% 50%
  }

      .hInd {
        background-image: url('india.png'); /* Asegúrate de que la ruta a la imagen sea correcta */
        background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
        background-position: 97% 50%
      }
